{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Cellule de décision COVID</h1>

    <h2>Liste des décisions</h2>
    <ul>
        {%  for decision in decisions %}
            <h3>{{ decision.decidable.label }}</h3>
            <h4>{{ decision.speaker }} {{ decision.createdAt|date("d/m/Y h:i:s") }}</h4>
            <p>{{ decision.decidable.desciption }}</p>
            <hr>
        {% endfor %}
    </ul>

    <hr/>

    <h3>Liste des speakers</h3>
    <ul>
        {%  for speaker in speakers %}
            <li>{{ speaker.firstname }} {{ speaker.lastname }}</li>
        {% endfor %}
    </ul>

    <hr/>
    
    <h3>Liste des hypotheses</h3>
    <ul>
        {%  for decidable in decidables %}
            <li>{{ decidable.label }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
